.corpoUser {
  background-color: #666666;
}
.corpoUser label{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
  }

  .UserCrud {
    margin-left: 6%;
  }

  .corpoUser input{
    height:40px;
    font-size:18px;
    border: 1px solid ;
    padding:0 10px;
    border-radius:4px;
    margin-top:5px;
    width: 100%;
  }
  .corpoUser input:focus{
      border: 1px solid darkgray;
  }
  

  .corpoUser button{
    cursor: pointer;
    background: #333333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 700;
    transition: all 300ms;
    position: relative;
    width: 50%;
    margin-left: 26%;
  }

  .corpoUser button:hover{
    background: #737373;
  }
  .corpoUser {
    max-width:450px;
    background:#e6e6e6;
    margin: 30px auto;
    padding: 30px;
    border-radius: 4px;
    box-shadow:0 0 10px rgba(0,0,0, 0.1);
  }

  /* @media(max-width: 1000px) {
    .corpoUser {
        width: 80%;
    }
    .inputs input {
        /* width: 5%; 
    
 */