.Header #bulldog{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 32px;
}
.Header #bulldog img {
    border-radius: 50%;
    width: 10%;
    margin-right: 10px;
}
.Header .navbar{
    background: black;
}

.Header .links{
    max-width: fit-content;
    margin-left: 25%;
}

.Header .links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.Header .links a.chosen,
.Header .links a:hover{
    color: var(--cores3);   
}

.Header .bandeiras img{
    cursor: pointer;
}